<div class="wrapper">
  <header class="header">
    <div class="logo">Twitter Clone</div>
    <div class="heading">ツイートを編集する</div>
  </header>
  <%= render 'form' %>
  <footer><p class="copyright">© 2021 TwitterClone</p></footer>
</div>
