<div class="wrapper">
<header class="header">
<div class="logo">Twitter Clone</div>
<div class="heading">ツイートを投稿する</div>
</header>
<div class="article">
<%= render 'form' %>
</div>
<footer><p class="copyright">© 2021 TwitterClone</p></footer>
</div>
